:root {
	--br: 0.7rem;
	--text: #ffffff;
	--background: #242424;
	--primary: #595959;
	--secondary: #0b9591;
	--accent: #0093ff;
}

html {
	color-scheme: dark;
}

body {
	color: var(--text);
	background-color: var(--background);
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100dvh;
}

h1 {
	font-size: 3rem;
	justify-self: start;
}

a.button {
	background-color: var(--accent);
	border-radius: var(--br);
	color: var(--text);
	text-decoration: none;
	font-weight: 600;
	padding: clamp(0.2rem, 1%, 3rem) clamp(0.1rem, 2%, 3rem);
}